@use '../utils/mixins.scss' as *;
@use '../utils/variables.scss' as *;
@use '../utils/normalize.scss' as *;

.about {
  @include onTablet {
    display: grid;
    grid-template-columns: 287px 1fr;
    gap: 24px;
    align-items: start;
  }

  @include onDesktop {
    grid-template-columns: 498px 1fr;
    gap: 24px;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;

    @include onTablet {
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
    }
  }

  &__text {
    width: 284px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    gap: 16px;

    @include onTablet {
      padding-top: 0;
      width: 288px;
    }

    @include onDesktop {
      padding-top: 0;
      width: 498px;
    }
  }
}
