@use '../utils/mixins.scss' as *;
@use '../utils/variables.scss' as *;
@use '../utils/normalize.scss' as *;

.about {
  // position: sticky; /*Doesn`t make sense in our situation*/
  // bottom: 0;
  // z-index: -1;

  @include on-tablet {
    display: grid;
    grid-template-columns: 287px 1fr;
    gap: 24px;
    align-items: start;
  }

  @include on-desktop {
    grid-template-columns: 498px 1fr;
    gap: 24px;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;

    @include on-tablet {
      font-size: 40px;
    }

    @include on-desktop {
      font-size: 48px;
    }
  }

  &__text {
    width: 284px;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      padding-top: 0;
      width: 288px;
    }

    @include on-desktop {
      padding-top: 0;
      width: 498px;
    }
  }
}
