@use '../utils/mixins.scss' as *;
@use '../utils/variables.scss' as *;
@use '../utils/normalize.scss' as *;

.browse {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  &__title {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 48px;

    @include on-tablet {
      font-size: 40px;
      line-height: 40px;
    }

    @include on-desktop {
      font-family: 'Space Grotesk', sans-serif;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 280px;
    height: 56px;
    border-radius: 8px;
    background-color: $main-color;
    color: #fff;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    border: 2px solid transparent;
    margin-top: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0;

    &:hover {
      background-color: $light2-color;
      color: $main-color;
      border-color: $light2-color;
      box-shadow: 0 0 4px rgba(13, 1, 43, 0.4);
    }

    &:active {
      background-color: $active-state-color;
    }

    @include on-tablet {
      width: 600px;
      height: 56px;
      margin-top: 22px;
    }

    @include on-desktop {
      width: 342px;
      margin: 0;
      margin-top: 26px;
    }
  }

  &__after-button-img {
    width: 100vw;
    height: 200px;
    margin-top: 96px;
    display: block;
    object-fit: cover;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }
}

// .image__after {
//   width: 100vw;
//   // margin-left: calc(50% - 50vw);
//   position: relative;
//   left: 50%;
//   margin-left: -50vw;
// }

.browse-card {
  &__images {
    display: flex;
    gap: 20px;
    max-width: 1260px;
    align-items: center;
    margin: 0 auto;
    transition: transform 0.3s ease;

    @include on-tablet {
      gap: 24px;
    }

    @include on-desktop {
      gap: 30px;
    }
  }

  &__picture-1,
  &__picture-2 {
    width: 130px;
    height: 130px;
    display: flex;
    object-fit: cover;
    border-radius: $card-border-radius;
    transition: transform 0.3s ease;

    &:hover {
      box-shadow: 0 0 8px rgba(13, 1, 43, 0.4);
    }
  }

  @include on-tablet {
    .browse__item--accessories &__picture-1 {
      width: 392px;
      height: 184px;
    }
    .browse__item--accessories &__picture-2 {
      width: 184px;
      height: 184px;
    }

    .browse__item--audio &__picture-1 {
      width: 184px;
      height: 184px;
    }
    .browse__item--audio &__picture-2 {
      width: 392px;
      height: 184px;
    }

    .browse__item--all &__picture-1 {
      width: 392px;
      height: 184px;
    }
    .browse__item--all &__picture-2 {
      width: 184px;
      height: 184px;
    }
  }

  @include on-desktop {
    .browse__item--all &__picture-1 {
      width: 672px;
      height: 324px;
    }
    .browse__item--all &__picture-2 {
      width: 324px;
      height: 324px;
    }

    .browse__item--audio &__picture-1 {
      width: 324px;
      height: 324px;
    }
    .browse__item--audio &__picture-2 {
      width: 672px;
      height: 324px;
    }

    .browse__item--accessories &__picture-1 {
      width: 672px;
      height: 324px;
    }
    .browse__item--accessories &__picture-2 {
      width: 324px;
      height: 324px;
    }
  }

  &__info {
    margin-top: 16px;
    margin-bottom: 40px;
    font-size: $font-h3;
    font-weight: $font-weight-bold;
  }
}
