@use '../utils/mixins.scss' as *;
@use '../utils/variables.scss' as *;

.menu {
  overflow: auto;
  background-color: $background-color;
  font-weight: 700;

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__top {
    position: sticky; /* to keep cross always visible */
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;

    background-color: $background-color;

    @include on-tablet {
      padding-block: 36px;
    }
  }

  &__bottom {
    margin-top: 40px;
    padding-bottom: 48px;
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    transition:
      transform 0.3s ease,
      color 0.3s ease;

    &:hover {
      color: $active-state-color;
    }
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    padding-bottom: 4px;
    border-bottom: 1px solid $main-text-color;
    color: inherit;
    text-decoration: none;
    font-size: $font-h4;
    line-height: 140%;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
