@use '../utils/mixins.scss' as *;
@use '../utils/variables.scss' as *;

.page {
  font-family: 'Space Grotesk', sans-serif;
  color: $main-color;
  line-height: 140%;
  scroll-behavior: smooth;

  &__body {
    min-width: 320px;
    overflow-x: hidden;
  }

  &__menu {
    position: fixed;
    inset: 0;
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    overflow: auto;
    transition: 0.3s ease-in-out;

    &:target {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }
}

.page:has(.page__menu:target) {
  overflow: hidden;
}
