$tablet-min-width: 576px;
$main-text-color: #292929;
$font-main: 'Space Grotesk', sans-serif;
$font-accent: 'Space Mono', monospace;
$font-weight-bold: 700;
$font-weight-light: 400;
$font-h1: 36px;
$font-h2: 32px;
$burger-font-size: 22px;
$font-h3: 18px;
$font-h4: 16px;
$background-color: #fff;
$light2-color: #f0f1f4;
$light3-color: #f8f8fa;
$main-color: #292929;
$active-state-color: #111;
$info-label-color: #9393a3;
$mobile-padding: 20px;
$img-padding-bottom: 24px;
$title-padding-bottom: 48px;
$card-p-h4-pbottom: 8px;
$card-h4-price-pbottom: 12px;
$card-border-radius: 4px;
$card-card-margin-bottom: 40px;
